@model List<Category>
@if (Model != null)
{
    <div class="widget-content">
        <ul class="dropdown-menu">
            @foreach (var item in Model)
            {

                <li><a href="/@item.Alias" class="dropdown-item">@item.CatName</a></li>
            }
        </ul>
    </div>
} 