@model WebNews.Areas.Admin.Models.ChangePassWordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Đổi mật khẩu</li>
    </ol>
    <h6 class="slim-pagetitle">Đổi mật khẩu</h6>
</div><!-- slim-pageheader -->

<div class="section-wrapper">
    <form asp-area="Admin" asp-controller="Accounts" asp-action="ChangePassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="section-wrapper">
            <div class="row">
                <div class="col-md">
                    <p class="mg-b-0" style="color:red">@ViewBag.Error</p>
                    <div class="form-ground">
                        <input class="form-control" type="password" asp-for="PassWordNow" placeholder="Mật khẩu hiện tại" />
                        <span asp-validation-for="PassWordNow" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md">
                    <div class="form-ground">
                        <input class="form-control" type="password" asp-for="PassWord" placeholder="Mật khẩu mới" />
                        <span asp-validation-for="PassWord" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md">
                    <div class="form-ground">
                        <input class="form-control" type="password" asp-for="ConfimPassWord" placeholder="Nhập lại mật khẩu mới" />
                        <span asp-validation-for="ConfimPassWord" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-layout-footer" style="margin-left:735px; margin-top:50px">
                <button class="btn btn-primary bd-0">Đổi mật khẩu</button>
                <button class="btn btn-secondary bd-0">Cancel</button>
            </div><!-- form-layout-footer -->
        </div>
    </form>
</div><!-- section-wrapper -->